html
    head
        title Signup on my awesome website!
        link(rel="stylesheet", href="/css/styles.css")
    body
        main
            div
                if(skill == "paper")
                    p= "tu as choisi " + skill
                else if (skill == "rock")
                    p= "tu as choisi " + skill
                else if (skill == "scissors")
                    p= "tu as choisi " + skill

            div Score:
                if(doesUserWin == 0)
                    p Égalité, dommage!
                else if(doesUserWin == -1)
                    p Trop nul t'as perdu xD
                else if(doesUserWin == 1)
                    p Coup de bol, t'as gagné >:(
                else
                    p SOON tm

            a(href="/").link-class Play again!