html
    head
        title Welcome on my awesome website!
        link(rel="stylesheet", href="/css/styles.css")
    body
        main.mainClass
            p Choose a skill:
            a(href="/fight/paper", name="paper").link-class
                img(src="paper.png")
            a(href="/fight/rock", name="rock").link-class
                img(src="rock.png")
            a(href="/fight/scissors", name="scissors").link-class
                img(src="scissors.png")


            //img.className#IdName(src="/path-to-image.jpg" alt="Image Title")